<div class="container">
    <div class="row mt-5">
        <div class="imagen col-12 col-md-6 col-lg-6 d-flex justify-content-end border-end border-3">
            <img class="shadow" [src]="userRetrieve?.image" alt="">
        </div>
        <div class="datos pl-3 col-12 col-md-6 col-lg-4 d-flex flex-column gap-4">
            <h2><span class="fw-bold">ID: </span>{{userRetrieve?.id}}</h2>
            <h2>{{userRetrieve?.first_name}}</h2>
            <h2>{{userRetrieve?.last_name}}</h2>
            <div class="nombre-usuario">
                <span class="fw-bold">Nombre Usuario: </span>
                <span>{{userRetrieve?.username}}</span>
            </div>
            <div class="email-usuario">
                <span class="fw-bold">Email: </span>
                <span>{{userRetrieve?.email}}</span>
            </div>
            <ul class="d-flex flex-lg-row p-2">
                <li class="list-group-item">
                    <button class="btn btn-dark">Eliminar</button>
                </li>
                <li class="list-group-item">
                    <button [routerLink]="['/updateuser',userRetrieve?._id]" class="btn btn-primary">Actualizar</button>
                </li>
                <li class="list-group-item">
                    <button [routerLink]="['/home']" class="btn btn-light">Volver al listado</button> 
                </li>
            </ul>
        </div>
    </div>
</div>