.container {
    padding-bottom: 200px;
}

img {
    max-width: 300px;
}

input.ng-invalid.ng-touched {
    border-bottom: 3px solid tomato;
}

input.ng-valid.ng-touched {
    border-bottom: 3px solid lightgreen;
}



.error {
    color: tomato;
    font-size: 10px;
}